Speech to Text - Text to Speech/S2T & T2S Flow.json
[{"id":"daebade1.cac9c","type":"tab","label":"S2T"},{"id":"841327d6.e1ae28","type":"watson-speech-to-text","z":"daebade1.cac9c","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"SgxFkgdsYXqj","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":320,"y":168.25,"wires":[["7a53f3c1.857344"]]},{"id":"50994b29.a36684","type":"microphone","z":"daebade1.cac9c","name":"","x":150,"y":100,"wires":[["841327d6.e1ae28"]]},{"id":"7a53f3c1.857344","type":"debug","z":"daebade1.cac9c","name":"","active":true,"console":"false","complete":"transcription","x":507,"y":109.25,"wires":[]},{"id":"56d4ebc3.643674","type":"inject","z":"daebade1.cac9c","name":"","topic":"","payload":"http://sd-2.archive-host.com/membres/up/102033098234604628/SpaceShuttle.wav","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.5,"y":250.25,"wires":[["536d8907.42ca08"]]},{"id":"536d8907.42ca08","type":"watson-speech-to-text","z":"daebade1.cac9c","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"SgxFkgdsYXqj","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":290,"y":313,"wires":[["ad3600d6.601e1"]]},{"id":"ad3600d6.601e1","type":"debug","z":"daebade1.cac9c","name":"","active":true,"console":"false","complete":"transcription","x":469,"y":252,"wires":[]},{"id":"4353d6fe.78d198","type":"watson-text-to-speech","z":"daebade1.cac9c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"oaSq6oTG1ZOt","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":316.5,"y":494.5,"wires":[["60f5eff2.c96a5"]]},{"id":"60f5eff2.c96a5","type":"play audio","z":"daebade1.cac9c","name":"","voice":"0","x":513.5,"y":437.5,"wires":[]},{"id":"eba29fa1.221f78","type":"inject","z":"daebade1.cac9c","name":"","topic":"","payload":"Hello we are learning how to use text to speech in node red","payloadType":"str","repeat":"","crontab":"","once":false,"x":155,"y":447,"wires":[["4353d6fe.78d198"]]}]
