Visual Recognition/Web Page Flow.json
[{"id":"74669788.fbf2a8","type":"http in","z":"6303aa2c.ed093c","name":"","url":"/reco","method":"get","swaggerDoc":"","x":99,"y":369,"wires":[["438e62dc.e7e63c"]]},{"id":"438e62dc.e7e63c","type":"switch","z":"6303aa2c.ed093c","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":223,"y":431,"wires":[["5b0c6380.61abdc"],["4d1ebdcf.fe45ac"]]},{"id":"5b0c6380.61abdc","type":"template","z":"6303aa2c.ed093c","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/3.jpg\" height='100'/>\n    <img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/4.jpg\" height='100'/>\n    <img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\" height='100'/>\n    <img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/7.jpg\" height='100'/>\n    <br/>Drag and drop any of the images above into the text field or enter any image URL:<br/>\n    <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n</body>\n</html>","x":517,"y":400,"wires":[["1293c556.1b931b"]]},{"id":"4d1ebdcf.fe45ac","type":"change","z":"6303aa2c.ed093c","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":309,"y":489,"wires":[["5d5064cb.c3f844"]]},{"id":"1293c556.1b931b","type":"http response","z":"6303aa2c.ed093c","name":"HTTP Response","x":767,"y":434,"wires":[]},{"id":"5d5064cb.c3f844","type":"visual-recognition-v3","z":"6303aa2c.ed093c","name":"","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":491.5,"y":540.5,"wires":[["4b9a2ddd.005b54","684455b6.7cbf74"]]},{"id":"684455b6.7cbf74","type":"template","z":"6303aa2c.ed093c","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Node-RED Watson Visual Recognition Output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":612,"y":468,"wires":[["1293c556.1b931b"]]},{"id":"4b9a2ddd.005b54","type":"function","z":"6303aa2c.ed093c","name":"get labels","func":"var labels = msg.result.images[0].classifiers[0].classes;\nmsg.payload = labels.map(function(i){\n   return i.class;\n});\nreturn msg;","outputs":1,"noerr":0,"x":679,"y":544,"wires":[["6e110942.3d8e2"]]},{"id":"6e110942.3d8e2","type":"debug","z":"6303aa2c.ed093c","name":"","active":true,"console":"false","complete":"payload","x":839,"y":518,"wires":[]}]
