Language Translate and Identify Nodes/Lang Identify WebPage Flow
[{"id":"691f9a8f.62bdd4","type":"http in","z":"c20532d.e4bf15","name":"","url":"/api","method":"get","swaggerDoc":"","x":775,"y":218,"wires":[["66430511.49775c"]]},{"id":"843b685.897c218","type":"http response","z":"c20532d.e4bf15","name":"","x":1009,"y":228.25,"wires":[]},{"id":"66430511.49775c","type":"template","z":"c20532d.e4bf15","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\n    <head>\n\n        <title>Hello World</title>\n\n    </head>\n\n    <body>\n\n        <div>Hello to Watson on Node-RED</div>\n\n        <div id=\"id_hello\"><span>I think you are typing text in:</span>\n\n        &nbsp;\n\n        <span id=\"id_textlang\"></span></div>\n\n        <form id=\"id_form\">\n\n            <div>\n\n                <span>\n\n                    Enter your text to be processed:  \n\n                </span>\n\n                <span>\n\n                    <input type=\"text\" name=\"name\" id=\"id_text\"/>\n\n                </span>\n\n            </div>\n\n            <div>\n\n                <input type=\"submit\" value=\"Enter\" id=\"id_enter\"/>\n\n            </div>\n\n        </form>        \n\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\">\n\n        </script>\n\n        <script type=\"text/javascript\">\n\n            $(document).ready(function(){\n\n                setupPage();\n\n            });\n\n              var LANGUAGES = { 'ar' : 'Arabic',\n\n                    'en': 'English' ,\n\n                    'es': 'Spanish',\n\n                    'fr': 'French',\n\n                    'it': 'Italian',\n\n                    'de': 'German',\n\n                    'pt': 'Portuguese',\n\n                    'ko': 'Korean',\n\n                    'zh': 'Chinese'\n\n                  };\n\n            function setupPage(){\n\n                $('#id_hello').hide();\n\n                $('#id_form').submit(onSubmitClicked);\n\n                enterbutton();\n\n            }\n\n           \n\n            function langLookup(isocode) {\n\n                return (LANGUAGES[isocode] ? LANGUAGES[isocode] : isocode);\n\n            }\n\n         function processOK(response) {\n\n                console.log(response);\n\n                if (response.identifyresponse){\n\n                    $('#id_textlang').text(langLookup(response.identifyresponse));\n\n                } else {\n\n                    $('#id_textlang').text('No response received from service');\n\n                }\n\n            }\n\n            function processNotOK() {\n\n                console.log('Error Processing');\n\n                $('#id_textlang').text('Oops something went wrong');\n\n            }           \n\n            function invokeAjax(message) {\n\n                console.log('AJAX about to be invoked.');\n\n                console.log(message);\n\n                var ajaxData = {};\n\n                ajaxData.msgdata = message;\n\n                $.ajax({\n\n                    type: 'POST',\n\n                    url: 'langidentify',\n\n                    data: ajaxData,\n\n                    success: processOK,\n\n                    error: processNotOK\n\n                });\n\n            }\n\n \n\n            function onSubmitClicked(event){\n\n                $('#id_hello').show();\n\n                event.preventDefault();\n\n                var txt = $('#id_text').val();\n\n                invokeAjax(txt);\n\n            }\n\n            function enterbutton(){\n\n                $(function() {\n\n                    $(\"form input\").keypress(function (e) {\n\n                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n\n                        $('#id_enter').click();\n\n                        return false;\n\n                    } else {\n\n                        return true;\n\n                    }\n\n                });\n\n            });\n\n        }\n\n        </script>       \n\n    </body>\n\n</html>\n\n","x":870,"y":297.5,"wires":[["843b685.897c218"]]},{"id":"1dd6c6b3.b926e9","type":"http in","z":"c20532d.e4bf15","name":"","url":"/langidentify","method":"post","swaggerDoc":"","x":798.5,"y":418.75,"wires":[["eb86c0bc.7e61b"]]},{"id":"7021e16d.8575d8","type":"function","z":"c20532d.e4bf15","name":"Process Output","func":"msg.payload = {};\n\nmsg.payload.identifyresponse = \"I don't know\";\n\nif (msg.lang && msg.lang.language){\n    msg.payload.identifyresponse = msg.lang.language;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1046,"y":495.5,"wires":[["b6244635.dcf5a"]]},{"id":"b6244635.dcf5a","type":"http response","z":"c20532d.e4bf15","name":"","x":1055.5,"y":404.75,"wires":[]},{"id":"eb86c0bc.7e61b","type":"function","z":"c20532d.e4bf15","name":"Extract Input","func":"msg.payload = msg.req.body.msgdata; \nreturn msg;","outputs":1,"noerr":0,"x":835,"y":502.5,"wires":[["525b22cb.cc8d9c"]]},{"id":"525b22cb.cc8d9c","type":"watson-language-translator-identify","z":"c20532d.e4bf15","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":976,"y":604.25,"wires":[["7021e16d.8575d8"]]},{"id":"bb0c1bb8.ad2e9","type":"comment","z":"c20532d.e4bf15","name":"Language Identify on a Webpage","info":"https://xxxx.mybluemix.net/api\nAdd a \"api\" to the end of your node red url","x":906,"y":143,"wires":[]}]
