Conversion/Flow.json
[{"id":"dd03cc08.c041b","type":"tab","label":"Flow 8"},{"id":"ae4672c8.073aa8","type":"convert","z":"dd03cc08.c041b","name":"","target":"NORMALIZED_TEXT","username":"0742d171-ed82-40dd-b9b2-d2f241b52d21","password":"WKXQYXsSfvuU","service":"_ext_","x":415.5,"y":180.5,"wires":[["27f13fe3.5dbcd"]]},{"id":"bd08f0a9.6ea368","type":"inject","z":"dd03cc08.c041b","name":"PDF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137.5,"y":126.25,"wires":[["4e134a78.c164f4"]]},{"id":"27f13fe3.5dbcd","type":"debug","z":"dd03cc08.c041b","name":"","active":true,"console":"false","complete":"false","x":568.5,"y":128.5,"wires":[]},{"id":"4e134a78.c164f4","type":"function","z":"dd03cc08.c041b","name":"","func":"msg = {\n    payload: 'https://watson-developer-cloud.github.io/doc-tutorial-downloads/document-conversion/sample.pdf?cm_mc_uid=92906461259714997912150&cm_mc_sid_50200000=&cm_mc_sid_52640000=',\n    \"pdf\": {\n        \"heading\": {\n            \"fonts\": [\n                {\"level\": 1, \"min_size\": 24},\n                {\"level\": 2, \"min_size\": 18, \"max_size\": 23, \"bold\": true},\n                {\"level\": 3, \"min_size\": 14, \"max_size\": 17, \"italic\": false},\n                {\"level\": 4, \"min_size\": 12, \"max_size\": 13, \"name\": \"Times New Roman\"}\n            ]\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":261.5,"y":181.75,"wires":[["ae4672c8.073aa8"]]},{"id":"954788e8.1e2ce8","type":"inject","z":"dd03cc08.c041b","name":"HTML","topic":"","payload":"https://www.ibm.com/us-en/","payloadType":"str","repeat":"","crontab":"","once":false,"x":237,"y":374,"wires":[["a43fb498.1c7b18"]]},{"id":"da939b79.a1cfd8","type":"debug","z":"dd03cc08.c041b","name":"","active":true,"console":"false","complete":"payload","x":543,"y":382.25,"wires":[]},{"id":"a43fb498.1c7b18","type":"convert","z":"dd03cc08.c041b","name":"","target":"NORMALIZED_TEXT","username":"0742d171-ed82-40dd-b9b2-d2f241b52d21","password":"WKXQYXsSfvuU","service":"_ext_","x":383,"y":443,"wires":[["da939b79.a1cfd8"]]}]
