Discovery/Flow.json
[{"id":"e8291149.29777","type":"tab","label":"Flow 1"},{"id":"d04c9191.d1f7c8","type":"watson-discovery-v1","z":"e8291149.29777","name":"List Environments","environmentname":"","environment_id":"2eb30daf-117b-45b9-91ea-f8db5c1a53d3","collection_id":"96f5d797-a206-40a4-bcfd-c5a57f500a96","configurationname":"","configuration_id":"0f0664b8-20bf-4018-8b6d-3935981db16c","collection_name":"TestColl","count":"1","passages":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"listEnvrionments","x":318.5,"y":66.5,"wires":[["c23382f6.9df368"]]},{"id":"d5e09ae7.0096c8","type":"inject","z":"e8291149.29777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":66.25,"wires":[["d04c9191.d1f7c8"]]},{"id":"c23382f6.9df368","type":"debug","z":"e8291149.29777","name":"","active":true,"console":"false","complete":"environments","x":549.5,"y":66.5,"wires":[]},{"id":"b654961e.0ff4b","type":"inject","z":"e8291149.29777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":795.5,"y":97,"wires":[["a42057d8.660948"]]},{"id":"a42057d8.660948","type":"watson-discovery-v1","z":"e8291149.29777","name":"Environment Details","environmentname":"Environment Details","environment_id":"23351d64-1574-4a06-9ee8-559c4feaab12","collection_id":"","configurationname":"","configuration_id":"","collection_name":"","count":"","passages":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"getEnvironmentDetails","x":982,"y":97,"wires":[["186b29cb.c8acf6"]]},{"id":"186b29cb.c8acf6","type":"debug","z":"e8291149.29777","name":"","active":true,"console":"false","complete":"environment_details","x":1214.5,"y":98,"wires":[]},{"id":"81a0a076.f27718","type":"inject","z":"e8291149.29777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":271,"wires":[["8ee2e07d.f585c8"]]},{"id":"8ee2e07d.f585c8","type":"watson-discovery-v1","z":"e8291149.29777","name":"List Collections","environmentname":"","environment_id":"23351d64-1574-4a06-9ee8-559c4feaab12","collection_id":"","configurationname":"","configuration_id":"","collection_name":"","count":"","passages":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"listCollections","x":337.5,"y":272,"wires":[["eec25931.20b9a8"]]},{"id":"eec25931.20b9a8","type":"debug","z":"e8291149.29777","name":"","active":true,"console":"false","complete":"collections","x":594,"y":272,"wires":[]},{"id":"201b4193.68523e","type":"watson-discovery-v1","z":"e8291149.29777","name":"Collection Details","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","collection_name":"","count":"","passages":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"getCollectionDetails","x":1003,"y":293,"wires":[["be452e.118d2ad"]]},{"id":"d8329cf8.43c96","type":"inject","z":"e8291149.29777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":827.5,"y":292,"wires":[["201b4193.68523e"]]},{"id":"be452e.118d2ad","type":"debug","z":"e8291149.29777","name":"","active":true,"console":"false","complete":"collection_details","x":1215.5,"y":292,"wires":[]},{"id":"ab811853.cade2","type":"watson-discovery-v1","z":"e8291149.29777","name":"List Configurations","environmentname":"","environment_id":"23351d64-1574-4a06-9ee8-559c4feaab12","collection_id":"","configurationname":"watson_news","configuration_id":"","collection_name":"","count":"","passages":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"listConfigurations","x":365,"y":456,"wires":[["6e34763b.aba278"]]},{"id":"bec3fd55.13cab","type":"inject","z":"e8291149.29777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":189.5,"y":454,"wires":[["ab811853.cade2"]]},{"id":"6e34763b.aba278","type":"debug","z":"e8291149.29777","name":"","active":true,"console":"false","complete":"configurations","x":569,"y":455,"wires":[]},{"id":"902be49.ecd7898","type":"watson-discovery-v1","z":"e8291149.29777","name":"Configuration Details","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","collection_name":"","count":"","passages":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"getConfigurationDetails","x":1207,"y":449,"wires":[["794d2463.38ee1c"]]},{"id":"3b513b5c.12631c","type":"inject","z":"e8291149.29777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1022.5,"y":448,"wires":[["902be49.ecd7898"]]},{"id":"794d2463.38ee1c","type":"debug","z":"e8291149.29777","name":"","active":true,"console":"false","complete":"configuration_details","x":1440,"y":449,"wires":[]},{"id":"9ebab478.7bef68","type":"comment","z":"e8291149.29777","name":"Change method to list existing environments & leave environment name empty","info":"","x":306.5,"y":120.75,"wires":[]},{"id":"11a2d803.be115","type":"comment","z":"e8291149.29777","name":"Change payload to msg.environments","info":"","x":607,"y":20,"wires":[]},{"id":"bf30d12e.5ab7c8","type":"comment","z":"e8291149.29777","name":"Change method to list existing collections and enter the environment id the above flow gave you","info":"","x":355,"y":323,"wires":[]},{"id":"ec19f3d6.5a916","type":"comment","z":"e8291149.29777","name":"Change payload to msg.collections","info":"","x":606,"y":227,"wires":[]},{"id":"dc9b06f3.e5186","type":"comment","z":"e8291149.29777","name":"Change method to list existing configuaration, enter the same environment as above and the collction name the above flow gives you","info":"","x":455,"y":504,"wires":[]},{"id":"8e129030.10482","type":"comment","z":"e8291149.29777","name":"Change payload to msg.configurations","info":"","x":610,"y":410,"wires":[]},{"id":"dbc8a18.39a746","type":"inject","z":"e8291149.29777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126.5,"y":597.25,"wires":[["ac64983f.ed4748"]]},{"id":"ac64983f.ed4748","type":"watson-discovery-v1-query-builder","z":"e8291149.29777","name":"","password":"8ADauFQXtAtP","environment":"23351d64-1574-4a06-9ee8-559c4feaab12","environmenthidden":"23351d64-1574-4a06-9ee8-559c4feaab12","collection":"fbd37656-3faf-49f9-baaa-db758e4ce69b","collectionhidden":"fbd37656-3faf-49f9-baaa-db758e4ce69b","query1":"entities.text","query1hidden":"entities.text","queryvalue1":"IBM","queryvalue1hidden":"IBM","query2":"entities.sentiment.type","query2hidden":"entities.sentiment.type","queryvalue2":"positive","queryvalue2hidden":"positive","query3":"docSentiment.type","query3hidden":"docSentiment.type","queryvalue3":"positive","queryvalue3hidden":"positive","passages":false,"passageshidden":"on","x":290.5,"y":640.5,"wires":[["a8e1efd3.4b9e38"]]},{"id":"a8e1efd3.4b9e38","type":"watson-discovery-v1","z":"e8291149.29777","name":"","environmentname":"","environment_id":"23351d64-1574-4a06-9ee8-559c4feaab12","collection_id":"fbd37656-3faf-49f9-baaa-db758e4ce69b","configurationname":"","configuration_id":"","collection_name":"","count":"3","passages":true,"query":"","filter":"","aggregation":"","return":"text,entities.text,docSentiment.type,entities.sentiment.type","description":"","size":0,"discovery-method":"query","x":488.5,"y":615.5,"wires":[["62bc62bc.823cb4"]]},{"id":"62bc62bc.823cb4","type":"debug","z":"e8291149.29777","name":"","active":true,"console":"true","complete":"search_results","x":685,"y":637,"wires":[]}]
