Conversation/Flow.json
[{"id":"2fece236.6db26e","type":"watson-conversation-v1","z":"c20532d.e4bf15","name":"My Bot","workspaceid":"12ec366e-c3dc-44b5-81e0-74d3bc7aab4a","multiuser":false,"context":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":475,"y":1504,"wires":[["283f9918.4be546"]]},{"id":"841ef830.f8a398","type":"http in","z":"c20532d.e4bf15","name":"","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":129,"y":1347,"wires":[["3252a3c3.ad0afc"]]},{"id":"3252a3c3.ad0afc","type":"template","z":"c20532d.e4bf15","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>My BOT</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":383,"y":1347,"wires":[["532a90c1.27c99"]]},{"id":"532a90c1.27c99","type":"http response","z":"c20532d.e4bf15","name":"","statusCode":"","headers":{},"x":619,"y":1347,"wires":[]},{"id":"411afcc1.c4a284","type":"http in","z":"c20532d.e4bf15","name":"","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":111,"y":1514,"wires":[["aed056e7.fd4618"]]},{"id":"9022739b.f053c","type":"http response","z":"c20532d.e4bf15","name":"","statusCode":"","headers":{},"x":772,"y":1496,"wires":[]},{"id":"aed056e7.fd4618","type":"function","z":"c20532d.e4bf15","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":1569,"wires":[["2fece236.6db26e"]]},{"id":"283f9918.4be546","type":"function","z":"c20532d.e4bf15","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":623,"y":1562,"wires":[["9022739b.f053c"]]},{"id":"234cc83a.c84c9","type":"comment","z":"c20532d.e4bf15","name":"Template Flow","info":"","x":194.5,"y":1266.75,"wires":[]},{"id":"20f41b23.ba53ec","type":"comment","z":"c20532d.e4bf15","name":"Conversation Flow","info":"","x":166,"y":1459,"wires":[]}]
