Tone Analyzer and Personality Insights/Flow.json
[{"id":"135ea5fa.a4286a","type":"tab","label":"Tone Analyzer"},{"id":"3e609900.98aa68","type":"watson-tone-analyzer-v3","z":"135ea5fa.a4286a","name":"","tones":"emotion","sentences":"false","contentType":"true","tone-method":"generalTone","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":369.5,"y":160.5,"wires":[["7d649e52.3ba9c8"]]},{"id":"5ee69261.e31c5c","type":"inject","z":"135ea5fa.a4286a","name":"","topic":"","payload":"Great price, very light weight, really easy to install, nice picture quality, good sound and I love that there is one remote for everything! Couldn't be more pleased with this purchase.","payloadType":"str","repeat":"","crontab":"","once":false,"x":214.5,"y":111.25,"wires":[["3e609900.98aa68"]]},{"id":"7d649e52.3ba9c8","type":"debug","z":"135ea5fa.a4286a","name":"","active":true,"console":"false","complete":"response","x":548.5,"y":103.5,"wires":[]},{"id":"912c75a6.993c2","type":"watson-personality-insights-v3","z":"135ea5fa.a4286a","name":"","inputlang":"en","outputlang":"en","rawscores":false,"consumption":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/personality-insights/api","x":427.5,"y":389.5,"wires":[["160ebc6c.0fb5b4"]]},{"id":"f598b886.443f78","type":"inject","z":"135ea5fa.a4286a","name":"","topic":"","payload":"Thank you, Mike – and welcome, everyone, to the World of Watson. I think the name of our session is ideal. What started off as a single cognitive system several years ago truly has become an expanding world – a vibrant ecosystem of entrepreneurs, universities and some of the world’s most prominent companies, all sharing our belief in the potential of Watson to change the world. It’s amazing what has happened in the past 16 months since I announced the Watson Business Unit – tens of thousands of developers, thousands of partners, hundreds of clients, and dozens of new API services, all rallying around cognitive computing. So first, let me thank you – for coming today and for supporting our shared vision with your expertise and commitment. The organizations in this room come from 26 different industries. You’ve flown in from 32 different countries. You represent businesses ranging from tens of people to tens of thousands. You are CEOs, founders, Chief Data Scientists, professors. We share a common vision of redefining the way we work and live, touching the very core that defines the quality of care we receive, the quality of education we experience, and the quality of life we live. Since we launched the IBM Watson business with a $1 billion investment, more than 250 ISV partners are building Powered-by-Watson cognitive solutions today. \t•\tMore than 5,000 organizations have applied for partnership. \t•\tTens of thousands of developers, entrepreneurs and other enthusiasts have created thousands of apps via the Watson Zone on Bluemix – our open innovation platform that allows any user to tap into Watson services and rapidly build, deploy and manage apps across any cloud environment. \t•\tThere are now 20 Watson services available on Bluemix. \t•\tMore than a hundred universities around the world are now teaching cognitive computing courses. Cognitive computing is becoming an accepted discipline – and it will spawn whole new categories of jobs. \t•\tWe’ve introduced new Watson applications for specific professionals, from chefs to oncologists – such as Chef Watson, Watson for Oncology and Watson Wealth Management. \t•\tWe introduced Watson Discovery Advisor, Watson Engagement Advisor, Watson Decision Advisor and Watson Explorer. Watson Analytics puts these powerful cognitive solutions in the palm of your hand. Indeed, most Watson solutions are enabled for mobile. \t•\tWe have begun teaching Watson additional languages – Spanish, Brazilian Portuguese and now Japanese, available this year through our partnership with Softbank – with more to follow. \t•\tAnd last month we took another major step. As I looked at the breakthroughs coming from our work with Memorial Sloan Kettering, MD Anderson, Cleveland Clinic, Mayo Clinic and others, I became so confident of Watson’s destiny to change the face of healthcare that we launched Watson Health as its own business unit. This is a true moonshot, ushering in a new era of healthcare centered around the individual. To give you a sense of how this phenomenon is scaling – how Watson is indeed becoming a world – consider what has happened over just the past six months, since we last got together in October: \t•\tWe announced Watson at work at the Development Bank of Singapore. This has now gone live, enabling more than 300 wealth professionals to make informed, timely decisions. \t•\tDeakin University shared a bold plan to deliver a Watson-powered Student Advisor. This has been rolled out to all 50,000 students. \t•\tBumrangrad has now begun to roll out Watson for Oncology across Southeast Asia, where they treat 1.1 million patients a year. \t•\tAnd the Singapore Tax Authority is delivering a new Watson Advisory service to their 5.5 million citizens. From vision to reality – from hundreds to millions of users – Watson is becoming engrained in the very fabric of our daily lives. And all this has happened thanks to the work we’ve done together in a little over a year. During the next two days, you’ll see ample evidence of this. But first, let me step back and put that in context – of the historic phenomenon that unites us all in this journey we are taking together. For more than a century, we have all been captivated by the idea of intelligent machines. But it’s important to remember that there have only been two prior eras of information technology: \t•\tThe tabulating era – single-purpose mechanical machines that counted. \t•\tThe programmable era – general-purpose machines that were fed human instructions to apply if/then logic to arrive at answers and perform prescribed actions. Every single computer you know today – except Watson – is a programmable system. Watson has now launched a third era. We call it cognitive computing. Cognitive systems learn. They are not programmed. Yet, cognitive systems are more than “machine learning” systems. They understand unstructured data and natural language, but cognitive systems do more than Natural Language Processing. And while cognitive systems are an aspect of Artificial Intelligence, it is more correct to say “augmented” intelligence than “artificial” intelligence. That’s because Watson enhances, scales and accelerates human expertise. The computer scientists in the room understand just how different and unique Watson is. Here’s one way to think about this in a layperson’s terms: \t•\tTraditional computers computed. They made numerical calculations. Black or white, right or wrong. Watson is doing something else. It is reasoning -- just as humans do. It discovers patterns, and presents its answers not in black-or-white, but in shades of gray – just like the real world. In pharma discovery, metallurgical discovery, cancer diagnosis, Watson is looking for connections, for higher levels of probability, greater degrees of confidence. Very seldom is there a simple yes or no. Of the many decisions we have made regarding Watson in the last few years, perhaps the most momentous one – and the best one – was to make Watson an open platform. This revolutionary technology is too powerful, its potential too vast, for one company to exploit fully. And your creativity, your genius, is too important to forego. Being truly open requires: \t•\tOpen infrastructure – to ensure interoperability and access. \t•\tAPIs that allow others to bring in their own algorithms and applications, in order to create new capabilities and solutions. \t•\tA business model that enables everyone – from large enterprises and agencies to born-on-the-Net start-ups – to build successful businesses and citizen services. As we bring Watson into industry, we are doing so in the same way we did in healthcare – when we opened it up with APIs and established an open platform. And just look who is building on our open platform for healthcare. The choice to be open also meant we would offer Watson not as a stand-alone machine, but as a cloud-delivered set of services. We believed this was the right way to speed and scale innovation: \t•\tCloud accelerates: Cloud's flexibility is essential to your ability to connect cognitive processing to a fast-moving stream of Big Data that is often extremely time-sensitive. \t•\tCloud scales: Most of your IT applications are relatively low-intensity – such as web-serving, e-mail or supply chain. But what happens when you need to run a compute-intensive cognitive app? On the cloud, you can activate big processing engines quickly. \t•\tCloud enables collaborative innovation: The companies that are really innovating in cognitive love the cloud because of its rich base of services that allow companies to mix and match, rapidly assembling powerful cognitive applications. In addition, we have found that many clients don’t want to move all of their data into a cloud – and more and more of the data sets we are operating on are too big to move. So, today we are announcing the Watson Hybrid Cloud. It uses Watson Explorer as its on-premises platform for applications, connecting enterprise data sources into the application and keeping that data local. It also has the APIs from the Watson Developer Cloud to access applications built on public. Our clients have innovated with Watson in ways we couldn’t have imagined. I think we all understand the kind of impact Watson is already having on healthcare. Watson for Oncology is trained based on 304 medical journals, 15 million pages of articles, 207,000 medical textbooks and expertise from hundreds of doctors that the system has ingested from Memorial Sloan Kettering Cancer Center. Watson currently evaluates data from all 178,000 clinical trials conducted worldwide annually. According to a peer-reviewed article from Baylor College of Medicine, Watson helped find seven cancer targets in a few weeks, versus the norm of one per year for the entire Life Science industry. And you’ll be hearing today and tomorrow about many new examples of partner-led client engagements. We’ll also be hearing about a major collaboration with Epic and Mayo Clinic on integration with electronic health records. In fact, I can’t possibly touch on all the breakthroughs that deserve our applause. But let me mention just two examples of the kinds of unique solutions that are already transforming industries and professions. Welltok, a Watson Ecosystem Partner, created the Caféwell Concierge mobile app that builds personalized health itineraries on the fly. The app dialogs with you to learn about your health and exercise goals, medical issues, food preferences and other details. But there’s more. CafeWell Concierge will prompt you when it’s time for your physical exam, and afterwards will ask you how the exam went. You can see CafeWell Concierge in our demo area. Travel and transportation is ripe for transformation in the cognitive era. Travelers who are planning a vacation typically visit more than 20 websites. Wayblazer – a travel recommendation platform started by Travelocity and Kayak founder Terry Jones – is using Watson to change all that, and in the process is helping consumers create the perfect travel experience. We have just begun to glimpse the power and potential of this technology. As for the future – these systems will get smarter. Their ability to reason will increase exponentially. They will help solve big, challenging problems. We are changing the face of healthcare – and we won’t stop there. Together with you, we will do the same for retail, finance, marketing, and for cities. Today we are announcing a wide array of new capabilities, partnerships and clients. I’ll mention two of them – both of which I believe will make an important impact on our world. The first is Watson Genomic Analytics. Researchers now know that cancer tumors in different parts of the body may share DNA issues. A skin cancer might have more in common with a lung cancer or a brain cancer than with another skin cancer. The question is not necessarily where the ailment is appearing, but rather what underlying issue is driving the illness. Watson Genomic Analytics is a cloud-based service that ingests a cancer patient’s DNA information and searches the vast medical literature to identify the most likely DNA mutations or other issues driving the cancer. It pinpoints relevant drugs that can target those specific DNA issues and presents the information to doctors with the supporting evidences – in a matter of minutes. Initial clients include 14 major cancer centers. These extraordinary organizations are continuously reviewing Watson’s recommendations and helping its reasoning become more nuanced. Another important announcement is AlchemyData. This set of cognitive APIs will allow developers to build a new class of apps that aggregate, analyze and organize high-volume news data. Organizations across all industries and professions need an easier way to find and extract key insights today. Now available through the Watson Zone, AlchemyData curates and organizes hundreds of thousands of published news stories from reputable content providers such as the Associated Press. It then allows users to query that data to analyze key trends and make better, faster business decisions – in real time – and correlate it with industry-specific and proprietary information. Going forward, we are focusing our efforts on two major areas: \t•\tStandardizing and scaling Watson. You are going to see Watson becoming a lot easier for you to use. We’ll be rolling out self-service tooling for creating apps, for ingesting content and for training apps on that content. These will enable you to use Watson in solving new and more challenging problems faster. You’ll be hearing more about these over the course of our conference. \t•\tIncreasing Watson’s cognitive capabilities. For instance, we are augmenting Watson’s ability to “see” – to make sense of pictures, videos and higher-dimensional datasets to recognize and identify anomalies in images. Our initial project, working with leading academic research institutions, involves training Watson to identify anomalies in cardiovascular and breast imaging. Leveraging advanced medical imaging, computer vision and machine learning techniques built in IBM Research, Watson has ingested more than 45 million images – far more than any physician would see in an entire career. As John Kelly will describe to you tomorrow, cognitive systems will deepen their ability to discover, to create, and to empathize. They will increasingly understand us as highly individual – and highly emotive – human beings. Let me end with a final thought. Any description I could provide about the future of Watson would necessarily be a partial one. You – the men and women in this room – will write Watson’s future. Together, we are living and working at the intersection of technology, business and society, and we are changing the world. So, thank you. I am personally looking forward to working with you as we bring Watson forward. Whether you are a Watson partner, developer, or client, I am confident that the future is in good hands.","payloadType":"str","repeat":"","crontab":"","once":false,"x":277.5,"y":344.25,"wires":[["912c75a6.993c2"]]},{"id":"160ebc6c.0fb5b4","type":"debug","z":"135ea5fa.a4286a","name":"","active":true,"console":"false","complete":"insights","x":599.5,"y":337.5,"wires":[]}]
